/ElectricChain/ElectricChain Master.ipdb
/ElectricChain/ElectricChain Master.pdb
/ElectricChain/ElectricChain Master.VC.db
/ElectricChain/Debug
/ElectricChain/Release
/ElectricChain/ElectricChain Master.iobj
